html {
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

* {
    font-family: GothamPro;
    font-style: normal;
}

.wrapper {
    max-width: 1170px;
    margin: 0 auto;
}

.btn {
    padding-top: 19.67px;
    padding-bottom: 17.33px;
    padding-left: 58.5px;
    padding-right: 58.5px;
    background: #DBA682;
    text-decoration: none;
    color: white;
    font-size: 14px;
    display: inline-block;
    text-align: center;
    cursor: pointer;
}

.btn:hover, .btn:focus, .btn:active {
    background: #a38383;
}