.conference_wrap {
    padding-top: 63px;
    padding-bottom: 77.5px;
}

.conference_top_content {
    display: flex;
    justify-content: space-between;
}

.conference_content_left {
    display: flex;
    flex-direction: column;
}

.conference_title {
    font-family: GothamProBold;
    font-size: 25px;
    font-style: normal;
    font-weight: 700;
    line-height: 23px;
    letter-spacing: 0em;
    text-align: justified;
    margin-top: 25px;
    margin-bottom: 40px;
    background-color: white;
}

.conference_content {
    font-family: GothamPro;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0em;
    background-color: white;
    text-align: justify;
}

.conference_content_img {
    margin-top: -10px;
    margin-right: -20px;
    filter: drop-shadow(0px 2px 4px rgba(0, 0, 0, 0.05)) drop-shadow(0px 10px 20px rgba(0, 0, 0, 0.1));
}
