.header {
    padding-top: 67.41px;
    position: absolute;
    width: 100%;
}

.header-wrapper {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.countdown {
    display: flex;
}

.countdown li span {
    width: 100%;
    color: #FFFFFF;
    font: 55px GothamProBold;
    display: inline-block;
}

.countdown li.seperator {
    color: #FFFFFF;
    font: 40px GothamProBold;
    vertical-align: top;
}

.countdown li div {
    margin: 0;
    color: #FFFFFF;
    font-size: 11px;
}

.countdown-title {
    display: flex;
    justify-content: center;
}

.translate-wrapper {
    display: flex;
}

.translate-item {
    padding: 12px 9.36px;
    border: 1px solid #fff;
    color: white;
    cursor: pointer;
}

.translate-item:not(:last-child) {
    margin-right: 16.28px;
}

.translate-item-button {
    font-weight: 700;
    font-size: 14px;
    line-height: 13.4px;
    text-decoration: none;
    color: inherit;
}

.translate-item:hover, .translate-item:focus, .translate-item:active, .translate-item-selected {
    background-color: #fff;
    color: #17376A;
}
