.header {
    padding-top: 67.41px;
    position: absolute;
    width: 100%;
}

.header_wrapper {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.countdown {
    display: flex;
}

.countdown li span {
    width: 100%;
    color: #FFFFFF;
    font: 55px GothamProBold;
    display: inline-block;
}

.countdown li.seperator {
    color: #FFFFFF;
    font: 40px GothamProBold;
    vertical-align: top;
}

.countdown li div {
    margin: 0;
    color: #FFFFFF;
    font: 11px Gotham Pro;
}

.countdown_title {
    display: flex;
    justify-content: center;
}

.translate_wrapper {
    display: flex;
}

.translate_item {
    padding: 12px 9.36px;
    border: 1px solid #fff;
    border-color: #fff !important;
    color: white;
}

.translate_item:not(:last-child) {
    margin-right: 16.28px;
}

.translate_item_button {    
    font-family: GothamPro;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 13.4px;
    text-decoration: none;
    color: inherit;
}

.translate_item:hover, .translate_item:focus, .translate_item:active {
    background-color: #fff;
    color: #17376A;
}
